<div class="carousel">
	<ul>
		<li>
			<div class="pic"></div>
		</li>
		<li>
			<div class="pic"></div>
		</li>
		<li class="focusable">
			<div class="pic"></div>
		</li>
		<li>
			<div class="pic"></div>
		</li>
		<li>
			<div class="pic"></div>
		</li>
	</ul>

	<div class="position">
		{{#collection.items}}
		<span></span>
		{{/collection.items}}
	</div>
</div>