<div class="wrap">
	<h2>Exit</h2>

	<p>Do you want to exit this application?</p>

	<ul class="buttons">
		<li class="focusable" data-btn="yes">Yes</li><li class="focusable" data-btn="no">No</li>
	</ul>
</div>