<div id="sidebar">
	<div class="wrap">
		<ul>
			<!--<li class="focusable" data-action="search"><span class="icon-search"></span></li>-->
			<li class="focusable" data-action="menu"><span class="icon-menu"></span></li>
		</ul>
	</div>
</div>